[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pandas = "*"
tensorflow = "*"
matplotlib = "*"
prometheus-client = "*"
flask-cors = "*"
gunicorn = "*"
prometheus-flask-exporter = "*"
boto3 = "*"

[dev-packages]
jupyterlab-requirements = ">=0.3.5"
flake8 = "*"
coverage = "*"
Sphinx = "*"
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
hypothesis-auto = "*"
hypothesis = "*"
pytest-mypy = "*"
mypy = "*"
pre-commit = "==2.0.1"

[requires]
python_version = "3.8"
