[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
tensorflow = ">=2.4.0"
torch = "*"
torchvision = "*"
behave = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.8"
